# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
vc11/Debug App/
vc11/Debug/
vc11/Release/
vc11/WavyWaves.opensdf
vc11/WavyWaves.sdf
